* {
  box-sizing: border-box;
}
.container{
    height: 876px;
    width: 1024px;
}
.header{
    width: 1024px;
    height:75px;
    background-color:aquamarine;
    align-content: center;
}

.descriptionIntro{
    width: 1024px;
    height: 801px;  
}

#Room1, #Room2, #Room3, #Room4, #Room5{
    display:none;
}

#header1{
    width: 1024px;
    height:75px;
    background-color:darkkhaki;
    align-content: center;
  
}
.roomDescription {
    width: 1024px;
    height: 100px;
    float: left;
    background-color: rgba(0, 238, 255, 0.993);
}

.roomLeft 
{
    width: 362px;
    height:700px;
    float: left;
    background-color: orchid;
    text-align: center;

}
.roomMain{

    width: 362px;
    height: 700px;
    float: left;
    background-color: blueviolet;
    text-align: center;
}
.leftImage{
    display:block;
    text-align:left;
}
.roomRight{
    width: 300px;
    height:700px;
    float: right;
    background-color:lightseagreen;
    text-align: center;
    color:aliceblue;
    
}


.restartGameButton{
    float:right;
    margin-top: -80px;
    margin-right: 20px;
}


.finalPuzzle{
    width: 300px;
    height:726px;
    margin-top: 400px;
}
.key001{
    margin-left: 40px;
}


.ScoreX{
    display:flexbox;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}


