
#Room1, #Room2, #Room3, #Room4, #Room5{
    display:none;
}

#header1, #header2, #header3, #header4, #header5
{
    width: 100%;
    height:75px;
    background-color:darkkhaki;
    align-content: center;
  
}
#introCastel
{
    display: block;
    max-width: 100%;
    height: auto;
    
}
 #jesterIntro
 {
    display: block;
    width: 100%;
    height: auto;
    
}

#startBtn{
    display:block;
    text-align:center;
    margin: 10px;
    
}
#toNextRoom1, #toNextRoom2, #toNextRoom3, #toNextRoom4, #toNextRoom5{
    float:right;
    margin-top: 10px;
    margin-right: 20px;
    
}
#skeleton{
    color:yellow;
}
#img1, #img2, #img3,#img4,#img5,#img6, #img7,#img8, #img9,#img10
{
    width:100%;
    height:230px;
    
}

#Jacob, #Osfert, #Robert, #Skeleton{
    color:white;
}
